*
{
	margin: 0;
	padding: 0;
}
header
{
	background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;

}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 15px 20px;
	font-family: "Roboto",sans-seriff;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white;
}

.logo img
{
	width: 100px;
	height: auto;
	float: left;
	padding-top: 10px;
}

body
{
	font-family: monospace; 
}

.row
{
	max-width: 2000px;
	margin: auto;
}

.hero
{
	position: absolute;
	width:1900px;
	
	margin-left: 100px;
	margin-top: 50px;
}
h1
{
	color: white;
	text-transform: uppercase;
	font-size: 70px;
	text-align:center;
	margin-top: 300px;
}
.button
{
	margin-top: 60px;
	margin-left: 790px;
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 25px;
	font-size: 15px;
	text-transform: uppercase;
}

.btn-one
{
font-family: "Roboto",sans-seriff;
}
btn-two
{
	font-family: "Roboto",sans-seriff;
}
.btn-one:hover
{
	background-color: #808080;
	transition: all 0.5;
}

.btn-two:hover
{
	background-color: #808080;
	transition: all 0.5;
}
